.AboutMe-container{
    margin: 20% auto 5%;
    background-color: #ffde6f;
}
#content{
    display: flex;
    flex-direction: column;
}
#text{
    margin: 30px 50px;
}
#text>h1{
    font-family: 'Bebas Neue', cursive;
    color: rgb(97, 96, 96);
    font-size: 40px;
    text-indent: 35px;
}
#text>p{
    text-indent: 25px;
    color: black;
    font-size: 25px;
    width: fit-content;
    padding: auto 60px !important;
}