
.App-circle{
    width: 400px;
    height: 400px;
    border-radius: 250px;
    position: fixed;
    z-index: 0;
  }
  
  .top-left{
    margin: auto -190px;
    background-color: #ffde6f;
  }
  
  .bottom-left{
    margin: 160px -100px;
    background-color: #ffce29;
  }
  
  .top-right{
    margin: 100px 700px;
    background-color: #ffae2e;
  }
  
  .bottom-right{
    margin: 250px 760px;
    background-color: #e68d00;
  }