.Work-container{
    background-color: #ffae2e;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.Work-container>h1{
    color: rgb(97, 96, 96);
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
.ui.three.cards{
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ui.card{
    margin: 2%;
    font-family: 'Bebas Neue', cursive;
    width: 25%;
    height: 90%;
    background-color: #e6ae54ec;
    background-image: url('./panorama-black-stone-brick-texture-260nw-1109089712.jpg');
    align-self: center;
}
#ad{
    font-size: 30px;
    color: rgba(97, 96, 96, 0.678);
    margin: 115px !important;
}
#image{
    height: 275px;
}
#image:hover{
    height: 300px;
    margin-top: 0px;
}